[user]
	name = Kevin Millar
	email = koden.km@gmail.com

[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore.global
	whitespace = trailing-space,space-before-tab,tabwidth=4

[diff]
	renames = true

[fetch]
	prune = true

[help]
	autocorrect = 0

[color]
	ui = auto

[alias]
	s = status
	l = log --pretty='%C(dim)%ci%C(reset) %C(dim)%p%C(reset) %C(cyan dim)%h%C(reset)%C(cyan)%d%C(reset) %C(yellow)|%C(reset) %s %C(dim)by %an %ar.%C(reset)' -5

[push]
	default = simple

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[tag]
	sort = version:refname

[branch]
	autosetuprebase = always
