[user]
    name = Kevin Millar
    email = koden.km@gmail.com

[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
    editor = vim

[help]
    autocorrect = 1

[color]
    ui = true

[format]
    pretty = %C(white)%h%C(reset) %C(blue)%cn%C(reset) :%C(green)%d%C(reset) %s %C(blue)(%cr)%C(reset)
 
[push]
    default = simple
