[user]
    name = Kevin Millar
    email = koden.km@gmail.com

[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
    editor = vim

[help]
    autocorrect = 0

[color]
    ui = true

[format]
	pretty = %C(dim)%ci%C(reset) %C(dim)%p%C(reset) %C(cyan dim)%h%C(reset)%C(cyan)%d%C(reset) %C(yellow)|%C(reset) %s %C(dim)by %an %ar.%C(reset)
 
[push]
    default = simple
