[user]
	name = Kevin Millar
	email = koden.km@gmail.com

[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore.global
	whitespace = trailing-space,space-before-tab,tabwidth=4

[diff]
	renames = true

[fetch]
	prune = true

[help]
	autocorrect = 0

[color]
	ui = auto

[color "diff"]
	meta = dim
	frag = dim
	old = red
	new = green

[color "status"]
	added = green
	changed = yellow
	untracked = red

[alias]
	s = status
	l = log --pretty='%C(dim)%ci%C(reset) %C(dim)%p%C(reset) %C(cyan dim)%h%C(reset)%C(cyan)%d%C(reset) %C(yellow)|%C(reset) %s %C(dim)by %an %ar.%C(reset)' -10

[push]
	default = simple

[pull]
	ff = only

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[tag]
	sort = version:refname

[branch]
	autosetuprebase = always

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
