[user]
	name = Kevin Millar
	email = koden.km@gmail.com
	signingkey = /Users/kevin/.ssh/id_ed25519.pub

# Private/work repo config...
#[include]
    #path = ~/.gitconfig.private

[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore.global
	whitespace = trailing-space,space-before-tab,tabwidth=4

[init]
	defaultBranch = main

[diff]
	renames = true
	wsErrorHighlight = all

[fetch]
	prune = true

[help]
	autocorrect = 0

[color]
	ui = auto

[color "diff"]
	meta = dim
	frag = dim
	old = red
	new = green

[color "status"]
	added = green
	changed = yellow
	untracked = red

[alias]
	s = status
	l = log --pretty='%C(dim)%ci%C(reset) %C(dim)%p%C(reset) %C(cyan dim)%h%C(reset)%C(cyan)%d%C(reset) %C(yellow)|%C(reset) %s %C(dim)by %an %ar.%C(reset)' -10
	tag-md = tag --annotate --cleanup=whitespace --edit --message \"\"

[push]
	default = simple

[pull]
	ff = only

[tag]
	sort = version:refname
	gpgsign = true

[commit]
	gpgsign = true

[branch]
	autosetuprebase = always

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed-signers
